<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account - Daily Planner</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/account.css">
</head>

<body>
    <div class="container">
        <header>
            <h1>Account</h1>
            <a href="/">Back to Home</a>
        </header>

        <aside class="tools">
            <div id="tools"></div>
            <div class="auth">
                <ul class="account">
                    <hr>
                    <li></span> <span id="auth-section"><a href="/login">login</a></span>
                    </li>
                    <hr>
                </ul>
            </div>
        </aside>

        <main>
            <form id="account-form">
                <label for="name">Name:</label>
                <input type="text" id="name" required>

                <label for="email">Email:</label>
                <input type="email" id="email" required>

                <button type="submit" id="save-account">Save Changes</button>
            </form>
        </main>

        <footer>
            <p>Contact svl19@uni.brighton.ac.uk</p>
        </footer>
    </div>

    <script src="/js/account.js"></script>
    <script src="/js/auth.js"> </script>

</body>

</html>