<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <title>Home - Daily Planner</title>
    <link rel="stylesheet" href="/css/style.css">
</head> 

<body>
    <div class="container">
        <header class="header">
            <div class="pagetitle">
                <h1 id="title">Daily Planner</h1>
            </div>
            <div class="flower">
                <img src="/images/poppy.png" alt="Poppy">
            </div>
            <div class="subtitle">
                <span>Tuesday 28, February 2025 </span>
                <div class="arrows">
                    <span class="left">&lt</span>
                    <span class="right">&gt</span>
                </div>
            </div>
            <div class="subtitle2">
                <span id="greeting">Good Morning user! test</span>
            </div>
        </header>

        <aside class="tools">
            <ul>
                <li><a href="habits">Habits</a></li>
                <hr>
                <li><a href="mealplanner">Meal Planner</a></li>
                <hr>
                <li><a href="journal">Journal</a></li>
                <hr>
                <li><a href="../">Tracker</a></li>
                <hr>
                <li><a href="todo">To-do</a></li>
                <hr>
                <li><a href="../">Calendar</a></li>
                <hr>
                <li><a href="../">Notes</a></li>
                <hr>
            </ul>

            <ul class="account">
                <hr>
                <li></span> <span id="auth-section"><a href="/login">login</a></span>
                </li>
                <hr>
            </ul>
        </aside>

        <main class="schedule">
            <h2>Today's Schedule</h2>
            <table class="tg">
                <tbody>
                    <tr>
                        <td class="time">6-7 AM</td>
                        <td class="event"></td>
                    </tr>
                    <tr>
                        <td class="time">7-8 AM</td>
                        <td class="event"></td>
                    </tr>
                    <tr>
                        <td class="time">8-9 AM</td>
                        <td class="event"></td>
                    </tr>
                    <tr>
                        <td class="time">9-10 AM</td>
                        <td class="event"></td>
                    </tr>
                    <tr>
                        <td class="time">10-11 AM</td>
                        <td class="event"></td>
                    </tr>
                    <tr>
                        <td class="time">11-12 PM</td>
                        <td class="event"></td>
                    </tr>
                    <tr>
                        <td class="time">12-1 PM</td>
                        <td class="event"> Doctors appointment</td>
                    </tr>
                    <tr>
                        <td class="time">1-2 PM</td>
                        <td class="event"></td>
                    </tr>
                    <tr>
                        <td class="time">2-3 PM</td>
                        <td class="event"></td>
                    </tr>
                    <tr>
                        <td class="time">3-4 PM</td>
                        <td class="event"></td>
                    </tr>
                    <tr>
                        <td class="time">4-5 PM</td>
                        <td class="event"></td>
                    </tr>
                    <tr>
                        <td class="time">5-6 PM</td>
                        <td class="event"></td>
                    </tr>
                    <tr>
                        <td class="time">6-7 PM</td>
                        <td class="event"></td>
                    </tr>
                    <tr>
                        <td class="time">7-8 PM</td>
                        <td class="event"></td>
                    </tr>
                    <tr>
                        <td class="time">8-9 PM</td>
                        <td class="event"></td>
                    </tr>
                    <tr>
                        <td class="time">9-10 PM</td>
                        <td class="event"></td>
                    </tr>
                </tbody>
            </table>
            <a href="../">show calendar</a>
        </main>

        <section class="todos">
            <h2>Top priorities</h2>
            <ul id="todoList">
                <!-- Todos dynamically added here -->
            </ul>
            <p id="noTodosMessage" style="display: none;">No tasks for today!</p>
            <a href="todo">Show more</a>
        </section>

        <section class="challenge">
            <h2>Today's challenge</h2>
            <div class="challengetext">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas scelerisque, erat a aliquam auctor,
                    erat odio ullamcorper odio, ut suscipit eros elit eu est.</p>
            </div>
        </section>
        <section class="habits">
            <h2>Habits</h2>
            <ul>
                <li class="checked">list element</li>
                <li>list element</li>
                <li>list element</li>
            </ul>
            <a href="../">show more</a>
        </section>

        <footer class="footer">
            <p>Contact: svl19@uni.brighton.ac.uk</p>
        </footer>
    </div>

    <script src="/js/main.js"></script>
    <script src="/js/auth.js"> </script>
</body>

</html>