<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <title>Daily Planner</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <div class="container">
        <header>
            <h1 id="greeting">Good Morning!</h1>
            <div id="auth-section">
                <a href="/login" class="btn btn-primary">Login</a>
            </div>
        </header>

        <aside>
            <div class="tools">
                <ul>
                    <hr>
                    <li><a href="index.html">Meal planner</a></li>
                    <hr>
                    <li><a href="index.html">Habits</a></li>
                    <hr>
                    <li><a href="index.html">Budget</a></li>
                    <hr>
                    <li><a href="journal">Journal</a></li>
                    <hr>
                    <li><a href="index.html">Tracker</a></li>
                    <hr>
                    <li><a href="index.html">To-do</a></li>
                    <hr>
                </ul>
            </div>
        </aside>

        <main>
            

            <div class="exercise">
                <h1>Daily Exercise</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris malesuada facilisis eros, sed eleifend
                    augue accumsan eget.</p>
                <a href="journal.html">Journal</a>
                <a href="habits.html">Habits</a>
            </div>

            <div class="todo">
              <h1>Today's agenda</h1>
              <ul id="task-list">
                  <li>Coffee</li>
                  <li>Tea</li>
                  <li>Milk</li>
              </ul>
              <a href="index.html">View tomorrow</a>
          </div>

            <div class="calendar">
                <div class="month">
                    <span class="prev">&#10094;</span>
                    <div id="monthYear"></div>
                    <span class="next">&#10095;</span>
                </div>
                <ul class="weekdays">
                    <li>Mo</li>
                    <li>Tu</li>
                    <li>We</li>
                    <li>Th</li>
                    <li>Fr</li>
                    <li>Sa</li>
                    <li>Su</li>
                </ul>
                <ul class="days" id="days"></ul>
            </div>
        </main>

        <footer>
            <p>Contact svl19@uni.brighton.ac.uk</p>
        </footer>
    </div>

    <script src="/js/main.js"></script>
    <script src="/js/calendar.js"></script>
</body>

</html>
