<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/journal.css">
</head>

<body id="top">  
    <div class="container">

        <header class="header">
            <div class="left-section">
                <h1 class="title" class="fredericka-the-great-regular">Journal</h1>
            </div>

            <div class="right-section">
                <img src="/images/orchid.png" alt="Orchid" class="flower" />
                <span class="greeting" id="greeting">Good Day! Log in to see your data</span>
            </div>
        </header>

        <button id="navToggle" class="nav-toggle" aria-label="Toggle Navigation">☰</button>
        <nav id="tools" class="tools"></nav>
        
        <main class="main-content">

            <section class="newentry">
                <div class="title">
                    <h3>New Entry</h3>
                </div>
                <form class="journal-form">
                    <label>title: </label>
                    <input type="text" id="journal-title" rows="1" class="titleinput">
                    <input type="text" id="journal-entry" class="entryinput">
                    <button id="save-journal">Save Entry</button>
                    <span id="status-message"></span>
                </form>
            </section>

            <section id="oldentries" class="oldentries">
                <div class="menu"> <button>sort by:</button></div>
    
                <h2 class="monthheading">February</h2>
                <div class="oldentry">
                    <div class="date"> 24 </div>
                    <div class="entry">Donec porttitor diam a lorem feugiat, in commodo dui auctor. Vivamus eu iaculis erat,
                        id posuere mi. Quisque bibendum fermentum augue ut ornare. Quisque euismod congue nulla. In vehicula
                        euismod elit eget facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                        inceptos himenaeos. </div>
                </div>
    
                <div class="oldentry">
                    <div class="date"> 19 </div>
                    <div class="entry"> Integer molestie dignissim risus et aliquam. Praesent commodo erat sed justo porta,
                        sed maximus lorem dictum. Pellentesque et purus nisl. Sed et orci non erat rutrum dictum. Vivamus
                        sed ligula bibendum, fringilla tellus ac, efficitur purus. Orci varius natoque penatibus et magnis
                        dis parturient montes, nascetur ridiculus mus. Aenean posuere, erat vitae mattis aliquam, elit purus
                        convallis eros, vitae porttitor odio lacus eget ligula. Cras maximus, turpis sed fringilla
                        tristique, orci erat ornare sapien, vel egestas ante nulla vel lorem. </div>
                </div>
    
            </section>

        </main>

        <footer class="footer">          </footer>
    </div>

    <script src="/js/journal.js"></script>
    <script src="/js/nav.js"></script>
    <script src="/js/auth.js"> </script>
</body>

</html>