<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/mealplanner.css">
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="pagetitle">
                <h1 id="title">Meal Planner</h1>
            </div>
            <div class="flower">
                <img src="poppy.png" alt="Flower">
            </div>
            <div class="subtitle">
                <span>Week 7: 24.-2.</span>
                <div class="arrows">
                    <span class="left">&lt</span>
                    <span class="right">&gt</span>
                </div>
            </div>
            <div class="subtitle2">
                <span><a href="/">back to homepage</a></span>
            </div>
        </header>

        <aside class="tools">
            <div id="tools"></div>
            <div class="auth">
                <ul class="account">
                    <hr>
                    <li></span> <span id="auth-section"><a href="/login">login</a></span>
                    </li>
                    <hr>
                </ul>
            </div>
        </aside>

        <div id="meal-controls">
            <button id="prev-week">←</button>
            <input type="date" id="week-picker">
            <button id="next-week">→</button>
        </div>

        <div id="meal-planner"></div>

        <footer class="footer">
            <p>Contact: svl19@uni.brighton.ac.uk</p>
        </footer>
    </div>


    <script src="/js/auth.js"> </script>
    <script src="/js/nav.js"></script>
    <script src="/js/meal.js"></script>
</body>

</html>