<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/mealplanner.css">
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="pagetitle">
                <h1 id="title">Meal Planner</h1>
            </div>
            <div class="flower">
                <img src="poppy.png" alt="Flower">
            </div>
            <div class="subtitle">
                <span>Week 7: 24.-2.</span>
                <div class="arrows">
                    <span class="left">&lt</span>
                    <span class="right">&gt</span>
                </div>
            </div>
            <div class="subtitle2">
                <span><a href="/">back to homepage</a></span>
            </div>
        </header>

        <aside class="tools">
            <ul>
                <li><a href="../views/habits.html">Habits</a></li>
                <hr>
                <li><a href="../views/mealplanner.html">Meal Planner</a></li>
                <hr>
                <li><a href="../views/journal.html">Journal</a></li>
                <hr>
                <li><a href="../views/home.html">Tracker</a></li>
                <hr>
                <li><a href="../views/todo.html">To-do</a></li>
                <hr>
                <li><a href="../views/home.html">Calendar</a></li>
                <hr>
                <li><a href="../views/home.html">Notes</a></li>
                <hr>
            </ul>

            <ul class="account">
                <hr>
                <li></span> <span id="auth-section"><a href="/login">login</a></span>
                </li>
                <hr>
            </ul>
        </aside>

        <div class="MondayHead">Monday</div>
        <div class="TuesdayHead">Tuesday</div>
        <div class="WednesdayHead">Wednesday</div>
        <div class="ThursdayHead">Thursday</div>
        <div class="FridayHead">Friday</div>
        <div class="SaturdayHead">Saturday</div>
        <div class="SundayHead">Sunday</div>
        <div class="MondayCont">
            <Label>Breakfast</Label>
            <textarea name="" id="" cols="30" rows="5"></textarea>
            <label for="">Lunch</label>
            <textarea name="" id="" cols="30" rows="5"></textarea>
            <label for="">Dinner</label>
            <textarea name="" id="" cols="30" rows="5"></textarea>
        </div>
        <div class="TuesdayCont">
            <Label>Breakfast</Label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <label for="">Lunch</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <label for="">Dinner</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="WednesdayCont">
            <Label>Breakfast</Label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <label for="">Lunch</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <label for="">Dinner</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="ThursdayCont">
            <Label>Breakfast</Label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <label for="">Lunch</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <label for="">Dinner</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="FridayCont">
            <Label>Breakfast</Label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <label for="">Lunch</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <label for="">Dinner</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="SaturdayCont">
            <Label>Breakfast</Label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <label for="">Lunch</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <label for="">Dinner</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="SundayCont">
            <Label>Breakfast</Label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <label for="">Lunch</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <label for="">Dinner</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>

        <footer class="footer">
            <p>Contact: svl19@uni.brighton.ac.uk</p>
        </footer>
    </div>


    <script src="../public/js/auth.js"> </script>
</body>

</html>