<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journal - Daily Planner</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/todo.css">
</head>

<body>
    <div class="container">
        <header>
            <h1>To-do</h1>
            <a href="../">Back to Home</a>
        </header>

        <aside>
            <div class="nav">
                <ul>
                    <hr>
                    <li><a href="../">Meal planner</a></li>
                    <hr>
                    <li><a href="../">Habits</a></li>
                    <hr>
                    <li><a href="../">Budget</a></li>
                    <hr>
                    <li><a href="journal">Journal</a></li>
                    <hr>
                    <li><a href="../">Tracker</a></li>
                    <hr>
                    <li><a href="todo">To-do</a></li>
                    <hr>
                </ul>
            </div>
        </aside>

        <main>
            <div class="calendar">
                <div class="month">
                    <span class="prev">&#10094;</span>
                    <div id="monthYear"></div>
                    <span class="next">&#10095;</span>
                </div>
                <ul class="weekdays">
                    <li>Mo</li>
                    <li>Tu</li>
                    <li>We</li>
                    <li>Th</li>
                    <li>Fr</li>
                    <li>Sa</li>
                    <li>Su</li>
                </ul>
                <ul class="days" id="days"></ul>
            </div>

            <div class="todo">
                <h1>Today's agenda</h1>
                <ul id="task-list">
                </ul>
                <a href="index.html">View tomorrow</a>
            </div>

        </main>

        <footer>
            <p>Contact svl19@uni.brighton.ac.uk</p>
        </footer>
    </div>

    <script src="/js/calendar.js"></script>
    <script src="/js/todo.js"></script>

</body>

</html>